div {
    background-color: white;
}

span {
color: violet;

}

h2 {
    color: green;
}

h1 {
    color: blueviolet;
}

article {
    color: brown;
}

table {
    padding: 20px;
    color: blue;
}
